.App {
  text-align: center;
  background: #661F6F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; */
  justify-content: center;
  color: white; 
}

p {
  padding: 0px 250px;
  font-size: 25px;
}

button {
  height: 20px;
  width: 200px;
  font-size: px;
  background: rgb(206, 206, 223);
  border-radius: 25px;
}